
.body-f4 {
    background-color: #a262b6;
}
.h1-f4 {
    text-align: center;
    position: relative;
    top: 60px;
    left: 520px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(87, 14, 72);
    background-color: #9649b9;
    display: inline;
    font-family: "SUSE Mono", monospace;
}
.p1-f4,
.p2-f4,
.p3-f4 {
    width: 600px;
    text-align: center;
    position: relative;
    left: 450px;
    top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.img1-f4 {
    margin-left: 500px;
    margin-top: 100px;
}
.img2-f4 {
    margin-left: 250px;
    margin-top: 100px;
}
.seta-f4 {
    width: 200px;
}
.img3-f4 {
    width: 300px;
    height: 200px;
}
.img4-f4 {
    margin-left: 500px;
    margin-top: 100px;
}
.h2-f4,
.h2-2-f4,
.h2-3-f4,
.h2-4-f4 {
    text-align: center;
    position: relative;
    left: 620px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.h2-f4 {
    top: 50px;
    width: 100px;
}
.h2-2-f4,
.h2-3-f4 {
    top: 50px;
    width: 100px;
}
.h2-4-f4 {
    top: 50px;
    width: 150px;
}
.body-f5 {
    background-color: #a262b6;
}
.f5-img1 {
    width: 400px;
    height: 300px;
}
.f5-img2 {
    width: 400px;
    height: 300px;
    margin-top: 100px;
}
p,
.obs-f4
.obs-f5 {
    text-align: center;
    position: relative;
    left: 450px;
    top: 20px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
p {
    width: 600px;
}
.obs-f4 {
    width: 430px;
}
.obs-f5 {
    width: 570px;
} 
pre {
    left: 50px;
    margin-top: 150px;
    margin-left: 400px;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.h2-css {
    width: 270px;
    text-align: center;
    position: relative;
    left: 550px;
    top: 20px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.h2-2-css,
.h2-3-css {
    text-align: center;
    position: relative;
    margin-top: 100px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.h2-2-css {
    width: 60px;
    left: 550px;
}
.h2-3-css {
    width: 150px;
    left: 480px;
}
.h1-f5,
.h1-2-f4 {
    font-size: 25px;
    color: #ffffff;
    margin-left: 350px;
    margin-top: 60px;
    font-family: 'Press Start 2P', sans-serif;
}
.h1-2-f5 {
    width: 370px;
    text-align: center;
    position: relative;
    left: 450px;
    top: 20px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace; 
}
.concluir {
    text-decoration: none;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Press Start 2P', sans-serif;
}

.concluirf {
    height: 70px;
    width: 300px;
    background-color: #953fc7;
    position: relative;
    left: 650px;
    top: 300px;
    border: 3px solid;
    border-color:#553074;
    border-radius: 10px;
    transition: 0.3s;
}

#concluirf4 {
    position: relative;
    top: 35px;
    left: 20px;
}

.concluirf:hover{
    transform: scale(1.25);
    background-color: #8533c9;
}

.tag-img {
    margin-left: 500px;
    margin-top: 100px;
}
.background-1 {
    width: 500px;
    height: 150px;
    margin-top: 10px;
    margin-left: 500px;
}
.tabela-f5 {
    width: 700px;
    text-align: center;
    position: relative;
    left: 450px;
    top: 50px;
    background-color: #9649b9;
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
}
.img-css-f5 {
    width: 80px;
    height: 100px;
    margin-top: -80px;
    margin-left: 650px;
}
.w3-container {
    width: 300px; 
    height: 200px;
    margin-top: -150px;
    border-radius: 15px;
    background: linear-gradient(to right, #ff7eb3, #8e44ad);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-left: 300px;
}
.pre-2 {
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
    margin-left: 560px;
}
.pre-3 {
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-family: "SUSE Mono", monospace;
    margin-left: 400px;
    margin-top: 40px;
}
.lista-f5 {
    color: #fbf0fa;
    text-shadow: 1px 1px 2px rgb(87, 14, 72);
    font-size: 20px;
    font-weight: 20px;
    margin-top: 50px;
    font-family: "SUSE Mono", monospace;
    margin-left: 470px;
}
.elementos-js {
    margin-top: 230px;
}
.elementos-css {
    margin-top: 150px;
}