<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 5</title>
    <link rel="stylesheet" href="/static/fases2.css">
</head>
<body class="body-f5">
    <h1>Se aprofundando: CSS e JavaScript</h1>
    <h2 class="h2-2-css">CSS</h2>
    <p class="p-css"> Como você já viu, o CSS é o código que você usa para dar estilo à sua página Web, permitindo a aplicação de estilos seletivamente a elementos em documentos HTML.</p>
    <h2 class="h2-css">Mudando a cor da página</h2>
    <img src="/img/tag-back-color.png" class="f5-img1">
    <img src="/img/pag-color.png" class="f5-img2">
</body>
</html>