<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/mapas.css">
</head>
<body class="body2">
    <div id="elementos">
        <img src="/img/tabuleiro2.png" class="tabuleiro2">
        <a href="fase4.html" class="fase4"><i class="fa-solid fa-star" id="estrela1"></i></i></a>
        <a href="fase5.html" class="fase5"><i class="fa-solid fa-star" id="estrela2"></i></a>
        <a href="fase6.html" class="fase6"><i class="fa-solid fa-star" id="estrela3"></i></a>
    </div>
</body>
</html>